<div class="container" style="margin-top: 200px; margin-bottom: 100px;">
  <h1>Все медицинские старости</h1>

  <div class="s-total">Найдено результатов: 24</div>
  <div class="row" id="hroniks">


    <div class="col-6 s-form">

      <label for="subscription_profession">Ваша профессия или отрасль, в которой Вы работаете?</label>
      <input class="profession_field" id="subscription_profession" name="subscription[profession]" size="30" type="text">
      <a href="#" class="red_button" id="subscription_submit">Искать</a>


      <span class="label"></span>
      <span class="button"></span>
      <input type="">
    </div>
  </div>


  цфцвфцвцфв


</div>