<div class="span12" style="margin-top: 20px; margin-bottom: 40px;">
  <div class="article_image">
	<%= image_tag(issue.image.url(:cover)) %>
  </div>
  <div class="article_content">
	<p><%= Russian::strftime(issue.date, "%B %Y") %></p>
	<h1 style="color: #4c4c4c;"><%= issue.title %></h1>
	<ul>
	<% issue.olds.each do |old| %>
	<li><%= link_to old.title, old_path(old) %></li>
	<% end %>
	</ul>
	
  </div>
</div>