<div class="container" style="margin-top: 200px; margin-bottom: 100px;">
 <% if params[:issue_id] %>
    <%= link_to issues_path, :class => 'link_to_back' do %>&larr; Назад, к списку выпусков<% end %>
 	<div style="margin-top: 20px; margin-bottom: 20px;">
    <h1 style="font-size: 44px"><%= @issue.title %></h1>
    </div>
 <% end %>
 <div class="row" id="olds">
	<%= render @olds %>
 </div>
 <%= will_paginate @olds %>
</div>