.header {
	position: absolute;
	z-index: 50;
    min-width: 955px;
}

.header_top_menu {
	margin-left: 0px;
	
}

.header_title {
	background: url('header-logo.png');
	background-repeat:no-repeat;
	height: 190px;
	width: 710px;
	float: left;
	cursor: pointer;
}

.header_title .heading {

}

.header_title .date {
	color: #fff0aa;
	margin-top: 30px;
	margin-left: 460px;
	font-size: 60px;
	font-family: 'PT Serif'
}

.header_menu {
	font-family: 'PT Sans Caption';
	font-size: 14px;
	background-color: black;
	height: 190px;
	opacity: 0.8;
	width: 230px;
	float: left;
	color: white;
}

.header_menu ul {
	list-style: none;
	padding-left: 10px;
	padding-top: 5px;
}

.header_menu ul li {
	margin-top: 10px;
}


.header_menu a {
	color: white;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.header_menu a:hover {
	background-color: #fff0aa;
	color: black;
}

.header_menu a.active {
	background-color: #ff634d;
	text-decoration: none;
}

.header_menu a.active:hover {
	color: white;
}

.header-image {
	top: 0px;
	height: 510px;
}