.header {
	position: absolute;
}

.header_top_menu {
	margin-left: 0px;
	
}

.header_title {
	background: url('header-logo.png');
	background-repeat:no-repeat;
	height: 170px;
	width: 710px;
	float: left;
}

.header_title .heading {

}

.header_title .date {
	color: #fff0aa;
	margin-top: 30px;
	margin-left: 460px;
	font-size: 60px;
	font-family: 'PT Serif'
}

.header_menu {
	font-family: 'PT Sans Caption';
	font-size: 14px;
	background-color: black;
	height: 170px;
	opacity: 0.8;
	width: 230px;
	float: left;
	color: white;
}

.header_menu ul {
	list-style: none;
	padding-left: 20px;
	padding-top: 5px;
}

.header_menu ul li {
	margin-top: 10px;
}

.header_menu a {
	color: white;
}

.header-image {
	top: 0px;
	height: 510px;
}