.hroniki_title_link {
	font-family: 'PT Serif';
	color: #000000;
	font-size: 20px;
	display: block;
	height: 34px;

}

.side .hroniki_title_link {
	font-size: 16px;
}

.side .tag_link {
	font-size: 12px;
}

.tag_link {
	font-family: 'PT Sans Caption';
	color: #777777;
	font-size: 14px;
}

.hronik_cover {
	margin-bottom: 25px;
}

.hronik_cover img {
	border: 1px solid #ff6c57;
}

.hroniki_image_container {
	position: relative;
	margin-top: 20px;	
	cursor: pointer;
}

.hroniki_image {

}

.hroniki_tags {
	height: 20px;
}

.hroniki_hover_container {
	height: 300px;
	width: 276px;
	background-image: url('hroniki_hover.png');
	padding-left: 24px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 1;
}

.hroniki_hover_container .title {
	padding-top: 20px;
	height: 56px;
}

.hroniki_hover_container p {
	color: white;
	padding-top: 0px;
	font-size: 14px;
	width: 240px;
}

.hroniki_hover_container .panel {
	font-family: 'PT Sans Caption';
	font-size: 14px;
	margin-top: 10px;
	color: #fff0aa;
}

.hroniki_hover_container .panel img {
	margin-right: 10px;
}

.hroniki_hover_container .panel a {
	margin-left: 30px;
	color: #fff0aa;
}

.hroniki_hover_container .panel a:hover {
	color: black;
}

.link_to_back {
	color: #999999;
	font-family: 'PT Sans Caption';
	font-size: 14px;
}

.hronik_tag {
	font-family: 'PT Sans Caption';
	color: #777777;
	font-size: 14px;	
}

.hronik_tag {
	width: 585px;
	height: 146px;
	padding-left: 35px;
	padding-top: 30px;
	background-color: #e6e6e6;
	margin-bottom: 50px;
}

.hronik_social .like_panel {
	margin-top: 37px;
	margin-bottom: 30px;
	clear: both;
	width: 100%;
}

#vk_like {
	width: 200px;
	float: left;
}

.fb-like {
	float: left;
}

.twitter-share-button {
	margin-left: 20px;
	display: block;
	float: left;
}

.hronik_social p {
	display: block;
	float: left;
}

.hronik_social .red_button {
	display: block;
	float: left;
	font-family: 'PT Sans Caption';
	width: 200px;
	height: 28px;
	margin-left: 50px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	background-color: #ff634d;
	color: #ffffff;
	font-size: 14px;
}

.hronik_social .red_button:hover {
	color: black;
}



/*small container*/

.hroniki_hover_small_container {
	height: 220px;
	width: 205px;
	background-image: url('hroniki_hover_small.png');
	padding-left: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}


.hroniki_hover_small_container p {
	color: white;
	padding-top: 35px;
	font-size: 13px;
	line-height: 1,2;
	width: 180px;
	height: 120px; 
	overflow: hidden;
	font-weight: normal;

}

.hroniki_hover_small_container .panel {
	margin-top: 0px;
	font-family: 'PT Sans Caption';
	font-size: 14px;
	color: #fff0aa;
}

.hroniki_hover_small_container .panel img {
	margin-right: 5px;
}

.hroniki_hover_small_container .panel a {
	color: #fff0aa;
}

.hroniki_hover_small_container .panel a:hover {
	color: black;
}

.hronik_text {
	font-family: 'PT Sans';
	color: #666666;
	font-size: 16px;
	margin-bottom: 30px;
}

.guest_pattern {
	position: absolute;
	width: 286px;
	height: 30px;
	background-image: url('guest_pattern.png');
	font-family: 'PT Sans Caption';
	color: #ffffff;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 14px;
}

