.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

#modal {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    width: 690px;
    height: 50%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#feedback_sent, #hronik_sent {
	display: none;
	font-family: 'PT Serif Caption';
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    background-color: #ff634d;
    width: 50%;
	text-align: center;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#modal .modal-header {
	font-family: 'PT Sans Caption';
	color: #e9f0f4;
	font-size: 16px;
	height: 39px;
	padding-top: 16px;
	padding-left: 20px;
	background-color: #7f7f7f;
}

#modal .modal-header a {
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	text-indent: -99999px;
	margin-top: 2px;
	margin-right: 20px;
	background: url('suggest-close-hover.png') top;
}

#modal .modal-header a:hover {
	background: url('suggest-close-hover.png') bottom;
}

#modal .modal-content {
	padding: 20px 30px 20px 30px;
	background-color: #ffffff;
	float: left;
	width: 630px;
}

#modal .modal-content .date {
	font-family: 'PT Serif';
	color: #7f7f7f;
	line-height: 0.9;
	width: 60px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: -1px;
}

#modal .modal-content .date #number {
	font-size: 50px;
	
}

#modal .modal-content .date #month {
	text-align: center;
	text-transform: capitalize;
	font-size: 14px;
}


#modal .modal-content .suggest-body {
	font-family: 'PT Serif';
	font-size: 12px;
	width: 310px;
	float: left;
	margin-left: 24px;
}

#modal .modal-content .suggest-body img {
	display: block;
	margin-top: 25px;
	float: left;
}


#modal .modal-content .suggest-side {
	width: 220px;
	float: right;
	margin-left: 16px;
	margin-top: 24px;
	
}

#new_hronik textarea.comment {
	height: 30px;
	margin-top: 27px;
	font-family: 'PT Serif';
	color: black;
	font-size: 12px;
	resize: none; 
	border: none;
	width: 276px;
	text-overflow:ellipsis
}

#new_hronik textarea.comment:focus {
	border: none;
}

#new_hronik input[type="text"].suggest_title {
	margin-top: 24px;
	font-family: 'PT Serif';
	color: black;
	border: none;
	font-size: 24px;
	width: 306px;
}

#new_hronik input[type="text"].suggest_title:focus  {
	border: none;
}

#new_hronik textarea.suggest_text {
	height: 260px;
	margin-top: 30px;
	font-family: 'PT Sans Narrow';
	color: black;
	font-size: 16px;
	resize: none; 
	border: none;
	width: 304px;
}

#new_hronik textarea.suggest_text:focus {
	border: none;
}

#new_hronik input[type="text"].suggest_author {
	font-family: 'PT Sans';
	color: black;
	border: none;
	font-size: 16px;
	width: 150px;
	height: 30px;
	display: block;
	float: right;
	margin-top: 16px;
	line-height: 1;
}

#new_hronik input[type="text"].suggest_author:focus  {
	border: none;
}

#suggest_image {
	display: none;
}

#new_hronik .suggest_file  {
	margin-top: 200px;
	font-family: 'PT Sans';
	color: #8c8c8c;
	font-size: 14px;
	letter-spacing: -1px;
}

#new_hronik .suggest_file #file  {
	color: black;
}


#new_hronik .suggest_file a  {
	color: #bfbfbf;
	font-weight: normal;
}

#new_hronik .suggest_file a:hover  {
	color: black;
}

