.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

#modal {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#feedback_sent {
	display: none;
	font-family: 'PT Serif Caption';
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    background-color: #ff634d;
    width: 50%;
	text-align: center;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#modal .modal-header {
	font-family: 'PT Sans Caption';
	color: #e9f0f4;
	font-size: 16px;
	height: 34px;
	padding-top: 16px;
	padding-left: 20px;
	background-color: #7f7f7f;
}

#modal .modal-header a {
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	text-indent: -99999px;
	margin-top: 2px;
	margin-right: 20px;
	background: url('suggest-close-hover.png') top;
}

#modal .modal-header a:hover {
	background: url('suggest-close-hover.png') bottom;
}

#modal .modal-content {
	padding: 20px 30px 20px 30px
}

#modal .modal-content .date {
	font-family: 'PT Serif';
	color: #7f7f7f;
	line-height: 0.9;
	width: 70px;
	margin: 0px;
	padding: 0px;
	float: left;
}

#modal .modal-content span {
	font-size: 60px;
}

#modal .modal-content .date-text {
	font-family: 'PT Serif';
	font-size: 12px;
	width: 250px;
	float: left;
	margin-left: 30px;
}