body {
	background-image: url('pattern-bg.png');
}


h1 {
	font-family: 'PT Serif';
	color: #000000;
	font-weight: normal;
	font-size: 38px;
}

h3 {
	font-family: 'PT Serif Caption';
	color: #ff634d;
	font-size: 20px;
}

h4 {
	font-family: 'PT Serif';
	color: black;
	font-size: 18px;
	font-weight: normal;
}

p {
	font-family: 'PT Sans';
	color: #666666;
	font-size: 16px;
}

a:hover {
	color: #ff634d;
}

.buf{
	float:none;
	width: 100%;
	height: 0px;
	clear: both;
}

.title_link {
	font-family: 'PT Serif';
	color: #000000;
	font-size: 32px;
}

.small_link {
	font-family: 'PT Sans Caption';
	color: #777777;
	font-size: 14px;
}

.yellow_link {
	font-family: 'PT Sans Caption';
	display: block;
	width: 222px;
	height: 38px;
	text-align: center;
	text-decoration: none;
	background-color: #fff0aa;
	padding-top: 18px;
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 15px;
}

.ginger_link:first-child {
	margin-top: 30px;
}

.ginger_link {
	font-family: 'PT Sans Caption';
	display: inline-block;
	width: 218px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	height: 26px;
	text-align: left;
	text-decoration: none;
	background-color: #ff634d;
	margin-top: 10px;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
	text-indent: 33px;
}

.ginger_link.feedback_main {
	background: #ff634d url('add.png') no-repeat 15px 10px;
}

.ginger_link.feedback_main:hover {
	background-position: 15px -44px;
}

.ginger_link.subscribe {
	background: #ff634d url('subscribe.png') no-repeat 15px 12px;
}

.ginger_link.subscribe:hover {
	background-position: 15px -22px;
}




.ginger_link:hover {
	color: black;
}


.red_button {
	display: block;
	font-family: 'PT Sans Caption';
	width: 200px;
	height: 28px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	background-color: #ffa599;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 14px;
}

.red_button:hover {
	color: black;
}

.red_button.suggest {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	margin-left: 40px;
	margin-top: 20px;
}

.red_button:hover {
	color: #ffffff;
	background-color: #ff634d;
}

.content {
	width: 690px;
	float: left;
	margin-left: 20px;
}

.right_column {
	width: 230px;
	float: left;
}

/*feedback_page*/

#feedback_page .head_line {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 35px;
}

#feedback_page .head_line a {
	color: #ff634d;
}

#feedback_page .wrap {
	background-color: white;
	padding: 20px;
	width: 900px;
	margin-top: 0px;
	float: left;
	display: none;
	margin-top: 8px;
	margin-bottom: 60px;
	font-family: 'PT Sans';
	color: #8c8c8c;
	font-size: 14px;
}

#new_event_partial .wrap {
	background-color: white;
	padding: 20px;
	width: 660px;
	margin-top: 0px;
	float: left;
	display: none;
	margin-top: 8px;
	margin-bottom: 60px;
}

.wrap select {
	margin-left: 20px;
}

.profession_field {
	margin-bottom: 0px !important;
}

.index_field {
	width: 100px !important;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px !important;
}

.email_field {
	width: 200px !important;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px !important;
}

.address_field {
	height: 65px !important;
}

.fields_notice {
	display: inline-block;
	margin-left: 240px;
	vertical-align:top;
	padding-top: 30px;
}


.address_comment, .index_comment {
	display: inline-block;
	width: 350px;
	padding-top: 25px;
	font-family: 'PT Sans';
	font-style: italic;
	color: #bfbfbf;
	font-size: 14px;
	padding-left: 10px;
}
.wrap span {
	font-family: 'PT Sans';
	font-style: italic;
	color: #bfbfbf;
	font-size: 14px;
}

.wrap span a {
	color: #ffa599;
}

.wrap span a:hover {
	color: black;
}


#feedback_page label, #new_event_partial label {
	display: block;
	font-family: 'PT Sans';
	color: #8c8c8c;
	font-size: 14px;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

#feedback_wrap input[type="text"], #new_event_partial input[type="text"] {
	width: 530px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'PT Serif Caption';
	color: #bfbfbf;
	font-size: 16px;
	border: 1px inset;
}

#subscribe_wrap input[type="text"] {
	width: 530px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'PT Serif Caption';
	color: #bfbfbf;
	font-size: 16px;
	border: 1px solid #bcf1ed;
}



#feedback_wrap input[type="text"]:focus, #new_event_partial input[type="text"]:focus {
	border: 1px solid #29B0D9;
}

#subscribe_wrap input[type="text"]:focus{
	border: 1px solid #10dacb;
}

#feedback_wrap textarea, #new_event_partial textarea {
	width: 530px;
	height: 230px;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'PT Serif Caption';
	color: #bfbfbf;
	font-size: 16px;
	border: 1px inset;
}

#subscribe_wrap textarea {
	width: 530px;
	height: 230px;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'PT Serif Caption';
	color: #bfbfbf;
	font-size: 16px;
	border: 1px solid #bcf1ed;
}

#feedback_wrap input[type="text"].input_error, #feedback_page textarea.input_error, #new_event_partial input[type="text"].input_error, #new_event_partial textarea.input_error  {
	border: 1px solid #ff634d;
	color: #ff634d;
}

#subscribe_wrap input[type="text"].input_error {
	border: 1px solid #ff634d;
	color: #ff634d;
}

#feedback_wrap textarea:focus  {
	border: 1px solid #29B0D9;
}

#subscribe_wrap textarea:focus  {
	border: 1px solid #10dacb;
}



.like_link {
	display: block;
	font-family: 'PT Sans Caption';
	width: 195px;
	padding-top: 6px;
	padding-bottom: 5px;
	text-indent: 50px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.like_link.like {
	background: url('thumb_up2.png') no-repeat 20px 7px;
}

.like_link.un_like {
	background: url('thumb_down2.png') no-repeat 20px 7px;
}

.like_link:hover {
	background-color: #ffa599;
}

.like_link.active {
	background-color: #ff634d;
}

.like_link:hover, .like_link.active {
	color: #ffffff;
	background-position: 20px -17px;
}

.feedback {
	padding-top: 50px;
	width: 100%;
	clear: both;
}

.feedback img {
	float: left;
	width: 31px;
}

.feedback .feedback_content {
	width: 819px;
	float: left;
	margin-left: 50px;
}


.feedback .feedback_heading {
	width: 100%;
	clear: both;
}

.feedback .feedback_heading {
	font-family: 'PT Sans';
	font-size: 16px;
	color: #8c8c8c;
}

.feedback .feedback_heading .name {
	font-family: 'PT Sans';
	font-size: 24px;
	color: #ff634d;
}

.feedback_answer {
	opacity: 0.6;
	margin-top: 20px;
}

.yellow_cation {
	background-color: #fff0aa;
	text-align: center;
	font-family: 'PT Serif Caption';
	font-size: 16px;
	color: #ff634d;
	padding-top: 8px;
	padding-bottom: 8px;
}

.issue_title {
	float: right;
	font-family: 'PT Sans Caption';
	font-size: 14px;
	padding: 5px 20px 4px 30px;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffa599 url('circle-shadow.png') no-repeat 15px 10px;
}

.pagination {
	display: none;
}

.show_feedback_form:first-child {
	margin-left: 0px;
}

.show_feedback_form {
	background: #ff634d url('feedback.png') no-repeat 15px 11px;
	font-family: 'PT Sans Caption';
	font-size: 13px;
	color: white;
	padding: 10px 20px 10px 40px;
	display: inline-block;
	margin: 0px 0px -7px -4px;
	text-decoration: none;
	text-transform: uppercase;
}

.show_feedback_form.subscribe {
	background: #ff634d url('subscribe.png') no-repeat 15px 14px;
}

.show_feedback_form.subscribe:hover {
	background-position: 15px 14px;
	color: black;
}

.show_feedback_form.not_active {
	background: #eeeeee url('feedback.png') no-repeat 15px 11px;
}

.show_feedback_form.subscribe.not_active {
	background: #eeeeee url('subscribe.png') no-repeat 15px 14px;
}


.show_feedback_form:hover {
	background-position: 15px -18px;
	color: black;
}

/*calendar*/

.date_row {
	margin-top: -20px;
	margin-bottom: 30px;
	text-align: center;
}

.calendar_element {
	margin-bottom: 60px;
}

.calendar_page .article_content {
	width: 440px;
}

.calendar_page .article_content_wide {
	width: 680px;
}

.calendar_page .article_content a {
	float: none;
}

.status_panel {
	margin-top: 15px;
	font-family: 'PT Sans Caption';
	color: #ff634d;
	font-size: 14px;
}

.status_panel .comments_qty {
	margin-left: 10px;
	margin-right: 20px;
}

.status_panel .watched_qty {
	margin-right: 10px;
}

.date_row .current_date {
	font-family: 'PT Serif';
	font-size: 32px;
	color: #4c4c4c;
}

.date_row .prev_day, .date_row .next_day {
	margin-top: 20px;
}

.date_row .prev_day a, .date_row .next_day a {
	font-family: 'PT Sans Caption';
	color: #999999;
}

.date_row .prev_day {
	float: left;
}

.date_row .next_day {
	float: right;
}

.quiz_results, .quiz_area {
	font-family: 'PT Sans';
	font-size: 15px;
	color: black;
}

.quiz_area ul {
	list-style-type: none;
	padding: 0;
}

.quiz_area input[type="submit"] {
	margin-top: 10px;
}

.quiz_results ul {
	position: absolute;
	bottom: -2px;
	display: inline-block;
	float: left;
	list-style-type: none;
	padding: 0;
	margin-right: 10px;
	text-align: right;
}

.quiz_results ul li {
	margin-bottom: 8px;
}

.quiz_results img {
	display: block;
	float: left;
	margin-left: 90px;
}

#new_event input[type="file"] {
	margin-bottom: 20px;
}

.issue_pdf_link {
	background: url('pdf.png') no-repeat;
	height: 17px;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 24px;
	padding-left: 50px;
	font-family: 'PT Sans Caption';
	color: #4d4d4d;
	font-size: 16px;
}

.issue_pdf_link:hover {
	color: #ff634d;
}

.star {
	color: #ff634d !important;
	font-size: 20px !important;
}

