.slider{
  width:  940px;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.header-image{
	margin-left: 20px;
	width: 940px;
	position: relative;
	height: 640px;
}
.slider2{
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  height: 700px;
}
.slide{
  display: inline-block;
  width:  940px;
  height: 700px;
}
.fwd {
	z-index: 100;
	position: absolute;
	top: 200px;
	right: 100px;
	height: 38px;
	width: 38px;
	background: url('button-left.png');
	text-indent: -9999px;
}

.fwd:hover, .bck:hover {
	background-position: bottom;
}

.bck {
	z-index: 100;
	position: absolute;
	top: 200px;
	right: 50px;
	height: 38px;
	width: 38px;
	background: url('button-right.png');
	text-indent: -9999px;
}