.user_hronik_cover {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 444;
	width: 630;
	overflow: hidden;
}

.user_hronik_cover .comment {
	height: 30px;
	margin-top: 27px;
	font-family: 'PT Serif';
	color: black;
	font-size: 12px;
	resize: none; 
	border: none;
	width: 276px;
	text-overflow:ellipsis;
}

.user_hronik_cover .suggest_title {
	margin-top: 24px;
	font-family: 'PT Serif';
	color: black;
	border: none;
	font-size: 24px;
	width: 306px;
}

.user_hronik_cover .suggest_text {
	height: 220px;
	margin-top: 30px;
	font-family: 'PT Sans Narrow';
	color: black;
	font-size: 16px;
	resize: none; 
	border: none;
	width: 304px;
}

.user_hronik_cover .suggest_author {
	font-family: 'PT Sans';
	color: black;
	border: none;
	font-size: 16px;
	width: 150px;
	height: 30px;
	display: block;
	float: right;
	margin-top: 21px;
	line-height: 1;
}

.hronik_user_cover_image {
	width: 690px;
	height: 484px;
}