<div class="container">
<div class="footer">
<div class="row">
  <div class="span6">
	<div class="copyright">
	<%= Time.now.year %> © Хроники, Euromed group
	</div>
  </div>
  <div class="span4">
	&nbsp
  </div>
  <div class="span2 zero">
	<%= link_to image_tag("zero_logo.png"), "http://zonazero.ru", :target => '_blank' %>
	<div class="zero_text">
		<%= link_to "http://zonazero.ru", :target => '_blank' do %>
		сделано <br> в zero b2b
		<% end %>
	</div>
  </div>
</div>
</div>
</div>